# Unity/Tuanjie 标准忽略
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# 编译校验日志
compile*.log

# IDE
.idea/
.vs/
.vscode/
*.csproj
*.sln
*.user

# 系统
Thumbs.db
Desktop.ini
